@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .shadow-blue-neon {
    /* Format: offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 
      0 20px 40px -10px rgba(0, 64, 255, 0.7), /* Layer luar (sangat lembut) */
      0 0 20px 5px rgba(0, 64, 255, 0.3); /* Layer bawah (untuk depth) */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-blue: #0040FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Scroll Design for Carousel */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}


/* Star Design */
@keyframes twinkle {
  0%, 100% { opacity: 0.2; transform: scale(0.8); }
  50% { opacity: 1; transform: scale(1.2); }
}

.animate-twinkle {
  animation: twinkle 3s infinite ease-in-out;
}

/* Helper untuk delay animasi acak agar tidak kedip barengan */
.delay-75 { animation-delay: 75ms; }
.delay-100 { animation-delay: 100ms; }
.delay-150 { animation-delay: 150ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
.delay-500 { animation-delay: 500ms; }
.delay-700 { animation-delay: 700ms; }
.delay-1000 { animation-delay: 1000ms; }